@charset "UTF-8";

*{
  padding: 0;
  margin: 0;

}

@font-face {
    font-family: 'evil';
    src: url(fontes/Evil\ Empire.otf);
}

@font-face {
    font-family: 'vogue';
    src: url(fontes/Vogue.ttf);
}

@font-face {
    font-family: 'brush';
    src: url(fontes/Wicked\ Brush.ttf);
}

:root{

    --cor1: #0C0C0D;
    --cor2:  #e7b00a;
    --cor3:  #f6aa1c;
    --cor4:  #c57718;
    --cor5:  #401303;

    --black: #000000;
    --white: #ffffff;

    --fonte-destaque: 'evil', italic, helvetica;
    --fonte-texto: 'vogue', arial, helvetica;
    --fonte-padrao: Arial, helvetica;

}

body{
    background-color: var(--cor4);
}

header{
    background-image:linear-gradient(-45deg, #f6aa1c, #ee7b30,  rgba(0, 0, 0, 0.479));
    background-repeat: no-repeat;
    background-size: 150%, 150%;
    text-align: center;
    padding-top: 20px;
    animation: gradient 8s infinite;
    height: 80px;
    width: 100%;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.7);
    z-index: 1;
}

h1{
    font-family: var(--fonte-texto);
    font-size: 4em;
    color: white;
    text-shadow: 1px 3px 3px black;
}

#palavra{
    color: #ffffff;
    text-shadow: 1px 2px 1px black;
}

@keyframes gradient {
    0%{
        background-position: 0%, -50%;
    }

    50%{
        background-position: 100%, -50%;
    }

    100%{
        background-position: 0%, -50%;
    }
    
}

main{
    height: 1700px;
}

footer{
    height: 50px;
    background-image:linear-gradient(-45deg, #f6aa1c, #ee7b30,  rgba(0, 0, 0, 0.479));
    background-repeat: no-repeat;
    background-size: 150%, 150%;
    animation: gradient 8s infinite;
    color: white;
    align-items: center;
    text-align: center;
}

footer p{

    padding-top: 15px;
    padding-left: 20px;
    display: inline-block;
    font-size: 1.5em;
    text-shadow: 1px 2px 1px black;
}

footer p a{
    color: white;
    text-decoration:none;
    text-shadow: 1px 2px 1px black;
}

#cardapio{
    font-family: var(--fonte-destaque);
    color: white;
    text-shadow: 0px 2px 3px black;
    font-weight: 100;
    font-size: 3.5em;
    text-align: center;
    padding-top: 10px;
}

h2{
    font-family: var(--fonte-destaque);
    color: white;
    text-shadow: 0px 2px 3px black;
    font-weight: 100;
    font-size: 2.5em;
    text-align: center;
    padding-top: 10px;
}

h3{
    background-image: linear-gradient(to right, #f6aa1c , transparent);
    display: inline-block;
    font-family: var(--fonte-destaque);
    color: white;
    text-shadow: 0px 2px 3px black;
    font-weight: 100;
    font-size: 1.6em;
    padding-left: 5px;
    
}

.tapiocas{
    background-image: linear-gradient(to right, #f6aa1c , transparent);
    font-family: var(--fonte-destaque);
    font-weight: 100;
    font-size: 1.6em;
    text-shadow: 1px 2px 1px black;
    color: white;
    display: inline-block;
    padding-left: 5px;
    padding-top: 5px;
}

.valor{
    display: inline-block;
    color: white;
    text-align: left;
    padding-left: 5px;
    font-size: 1.5em;
    text-shadow: 1px 2px 1px black;
}

.desc{
    color: black;
    text-indent: 20px;
    text-decoration: none;
    text-align: justify;
    padding-top: 0px;
    padding-right:5px;
    padding-left: 5px;
    padding-bottom: 5px;
    text-shadow: 0px 1px 1px black;

}

.ingredientes{
    padding-left: 50px;
    text-decoration: none;
    color: white;
    font-family: var(--fonte-padrao);
    text-shadow: 1px 2px 1px black;
    padding-top: 2px;
}

.complementos{
    background-image: linear-gradient(to right, #f6aa1c , transparent);
    font-family: var(--fonte-destaque);
    font-weight: 100;
    font-size: 1.5em;
    text-shadow: 1px 2px 1px black;
    color: white;
    display: inline-block;
    padding-left: 5px;
}

.refrigerantes{
    background-image: linear-gradient(to right, #f6aa1c , transparent);
    font-family: var(--fonte-destaque);
    font-weight: 100;
    font-size: 1.5em;
    text-shadow: 1px 2px 1px black;
    color: white;
    display: inline-block;
    padding-left: 5px;
}

