@charset "UTF-8";

*{
  padding: 0;
  margin: 0;

}

@font-face {
    font-family: 'evil';
    src: url(fontes/Evil\ Empire.otf);
}

@font-face {
    font-family: 'vogue';
    src: url(fontes/Vogue.ttf);
}

@font-face {
    font-family: 'brush';
    src: url(fontes/Wicked\ Brush.ttf);
}

:root{

    --cor1: #0C0C0D;
    --cor2:  #e7b00a;
    --cor3:  #f6aa1c;
    --cor4:  #c57718;
    --cor5:  #401303;

    --black: #000000;
    --white: #ffffff;

    --fonte-destaque: 'evil', italic, helvetica;
    --fonte-texto: 'vogue', arial, helvetica;
    --fonte-padrao: Arial, helvetica;

}

body{
    background-color: var(--cor4);
}

header{
    background-image:linear-gradient(-45deg, #0C0C0D, #ee7b30, #f6aa1c );
    background-repeat: no-repeat;
    background-size: 150%, 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: gradient 8s infinite;
    height: 100px;
    box-shadow: 0px 3px 4px black;
    z-index: 1;
    
    
}

h1{
    font-family: var(--fonte-texto);
    font-size: 4em;
    color: white;
    text-shadow: 1px 3px 3px black;
    
}

@keyframes gradient {
    0%{
        background-position: 0%, -50%;
    }

    50%{
        background-position: 100%, -50%;
    }

    100%{
        background-position: 0%, -50%;
    }
    
}

main{
    height: 760px;
}

footer{
    height: 50px;
    background-image:linear-gradient(-45deg, #0C0C0D, #f6aa1c, #ee7b30, #59380F, #401303 );
    background-repeat: no-repeat;
    background-size: 150%, 150%;
    animation: gradient 8s infinite;
    color: white;
    align-items: center;
    text-align: center;
}

footer p{

    padding-top: 15px;
    padding-left: 20px;
    display: inline-block;
    font-size: 1.5em;
}

footer p a{
    color: white;
    text-decoration:none;
}

h2{
    font-family: var(--fonte-destaque);
    color: white;
    text-shadow: 0px 2px 3px black;
    font-weight: 100;
    font-size: 2.5em;
    text-align: center;
    padding-top: 10px;
}

h3{
    background-image: linear-gradient(to right, #f6aa1c84 , transparent);
    display: inline-block;
    font-family: var(--fonte-destaque);
    color: white;
    text-shadow: 0px 2px 3px black;
    font-weight: 100;
    font-size: 2.0em;
    padding-left: 5px;
    
}

.valor{
    display: inline-block;
    color: white;
    text-align: left;
    padding-left: 5px;
    font-size: 1.8em;
    text-shadow: 1px 2px 3px black;
}

.desc{
    color: white;
    text-indent: 20px;
    text-decoration: none;
    text-align: justify;
    padding: 5px;
    text-shadow: 1px 2px 3px black;
}

